<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siam.system.modular.mod_finance.mapper.FundShorttermTradingMapper" >
  <resultMap id="BaseResultMap" type="com.siam.system.modular.mod_finance.entity.FundShorttermTrading" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="fund_id" property="fundId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="service_charge" property="serviceCharge" jdbcType="DECIMAL" />
    <result column="shares" property="shares" jdbcType="DECIMAL" />
    <result column="net_value" property="netValue" jdbcType="DECIMAL" />
    <result column="related_trading_id" property="relatedTradingId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="income" property="income" jdbcType="DECIMAL" />
    <result column="return_rate" property="returnRate" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="fund_id" property="fundId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="service_charge" property="serviceCharge" jdbcType="DECIMAL" />
    <result column="shares" property="shares" jdbcType="DECIMAL" />
    <result column="net_value" property="netValue" jdbcType="DECIMAL" />
    <result column="related_trading_id" property="relatedTradingId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="income" property="income" jdbcType="DECIMAL" />
    <result column="return_rate" property="returnRate" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fund_id, type, amount, service_charge, shares, net_value, related_trading_id,
    status, income, return_rate, remarks, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.siam.system.modular.mod_finance.model.example.FundShorttermTradingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_fund_shortterm_trading
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_fund_shortterm_trading
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_fund_shortterm_trading
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.siam.system.modular.mod_finance.model.example.FundShorttermTradingExample" >
    delete from tb_fund_shortterm_trading
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.siam.system.modular.mod_finance.entity.FundShorttermTrading" >
    insert into tb_fund_shortterm_trading (id, fund_id, type,
      amount, service_charge, shares,
      net_value, related_trading_id, status,
      income, return_rate, remarks,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{fundId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
      #{amount,jdbcType=DECIMAL}, #{serviceCharge,jdbcType=DECIMAL}, #{shares,jdbcType=DECIMAL},
      #{netValue,jdbcType=DECIMAL}, #{relatedTradingId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{income,jdbcType=DECIMAL}, #{returnRate,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.siam.system.modular.mod_finance.entity.FundShorttermTrading" useGeneratedKeys="true" keyProperty="id">
    insert into tb_fund_shortterm_trading
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fundId != null" >
        fund_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="serviceCharge != null" >
        service_charge,
      </if>
      <if test="shares != null" >
        shares,
      </if>
      <if test="netValue != null" >
        net_value,
      </if>
      <if test="relatedTradingId != null" >
        related_trading_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="returnRate != null" >
        return_rate,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fundId != null" >
        #{fundId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null" >
        #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="shares != null" >
        #{shares,jdbcType=DECIMAL},
      </if>
      <if test="netValue != null" >
        #{netValue,jdbcType=DECIMAL},
      </if>
      <if test="relatedTradingId != null" >
        #{relatedTradingId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="returnRate != null" >
        #{returnRate,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.siam.system.modular.mod_finance.model.example.FundShorttermTradingExample" resultType="java.lang.Integer" >
    select count(*) from tb_fund_shortterm_trading
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_fund_shortterm_trading
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fundId != null" >
        fund_id = #{record.fundId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceCharge != null" >
        service_charge = #{record.serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="record.shares != null" >
        shares = #{record.shares,jdbcType=DECIMAL},
      </if>
      <if test="record.netValue != null" >
        net_value = #{record.netValue,jdbcType=DECIMAL},
      </if>
      <if test="record.relatedTradingId != null" >
        related_trading_id = #{record.relatedTradingId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.income != null" >
        income = #{record.income,jdbcType=DECIMAL},
      </if>
      <if test="record.returnRate != null" >
        return_rate = #{record.returnRate,jdbcType=DECIMAL},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_fund_shortterm_trading
    set id = #{record.id,jdbcType=INTEGER},
    fund_id = #{record.fundId,jdbcType=INTEGER},
    type = #{record.type,jdbcType=INTEGER},
    amount = #{record.amount,jdbcType=DECIMAL},
    service_charge = #{record.serviceCharge,jdbcType=DECIMAL},
    shares = #{record.shares,jdbcType=DECIMAL},
    net_value = #{record.netValue,jdbcType=DECIMAL},
    related_trading_id = #{record.relatedTradingId,jdbcType=INTEGER},
    status = #{record.status,jdbcType=INTEGER},
    income = #{record.income,jdbcType=DECIMAL},
    return_rate = #{record.returnRate,jdbcType=DECIMAL},
    remarks = #{record.remarks,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.siam.system.modular.mod_finance.entity.FundShorttermTrading" >
    update tb_fund_shortterm_trading
    <set >
      <if test="fundId != null" >
        fund_id = #{fundId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null" >
        service_charge = #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="shares != null" >
        shares = #{shares,jdbcType=DECIMAL},
      </if>
      <if test="netValue != null" >
        net_value = #{netValue,jdbcType=DECIMAL},
      </if>
      <if test="relatedTradingId != null" >
        related_trading_id = #{relatedTradingId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=DECIMAL},
      </if>
      <if test="returnRate != null" >
        return_rate = #{returnRate,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.siam.system.modular.mod_finance.entity.FundShorttermTrading" >
    update tb_fund_shortterm_trading
    set fund_id = #{fundId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      service_charge = #{serviceCharge,jdbcType=DECIMAL},
      shares = #{shares,jdbcType=DECIMAL},
      net_value = #{netValue,jdbcType=DECIMAL},
      related_trading_id = #{relatedTradingId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      income = #{income,jdbcType=DECIMAL},
      return_rate = #{returnRate,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>