<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siam.system.modular.mod_finance.mapper.SQLMapper">

    <select id="dynamicsSelect" resultType="map">
        ${paramSQL}
    </select>

    <insert id="dynamicsInsert">
        ${paramSQL}
    </insert>

    <update id="dynamicsUpdate">
        ${paramSQL}
    </update>

    <delete id="dynamicsDelete">
        ${paramSQL}
    </delete>
</mapper>
